<div class="calculadora">

  <form action="#" name="calculadora" id="calculadora">
    <p id="textoPantalla">0</p>
    <p>
      <input type="button" class="largo" value="Retr" onclick="" />
      <input type="button" class="largo" value="CE" onclick="" />
      <input type="button" class="largo" value="C" onclick="" />
    </p>
    <p>
      <input type="button" value="7" onclick="" />
      <input type="button" value="8" onclick="" />
      <input type="button" value="9" onclick="" />
      <input type="button" value="/" onclick="" />
      <input type="button" value="Raiz" onclick="" />
    </p>
    <p>
      <input type="button" value="4" onclick="" />
      <input type="button" value="5" onclick="" />
      <input type="button" value="6" onclick="" />
      <input type="button" value="*" onclick="" />
      <input type="button" value="%" onclick="" />
    </p>
    <p>
      <input type="button" value="1" onclick="" />
      <input type="button" value="2" onclick="" />
      <input type="button" value="3" onclick="" />
      <input type="button" value="-" onclick="" />
      <input type="button" value="1/x" onclick="" />
    </p>
    <p>
      <input type="button" value="0" onclick="" />
      <input type="button" value="+/-" onclick="" />
      <input type="button" value="." onclick="" />
      <input type="button" value="+" onclick="" />
      <input type="button" value="=" onclick="" />
    </p>
  </form>
</div>
