<div class="calculadora">
  <input type="text" [(ngModel)] = "total" id="textoPantalla" value="0">
  <input type="text" [(ngModel)] = "numNow" id="textoPantalla2" value="0">
  <p>
    <input type="button" class="largo" value="Retr" (click)="quitarOneDigit()"/>
    <input type="button" class="largo" value="CE" (click)="resetTotal()"/>
    <input type="button" class="largo" value="C" (click)="resetTotal()"/>
  </p>
  <p>
    <input type="button" value="7" (click)="acumula(7)" />
    <input type="button" value="8" (click)="acumula(8)" />
    <input type="button" value="9" (click)="acumula(9)" />
    <input type="button" value="/" (click)="oper('/')" />
    <input type="button" value="Raiz" (click)="oper('Raiz')" />
  </p>
  <p>
    <input type="button" value="4" (click)="acumula(4)" />
    <input type="button" value="5" (click)="acumula(5)" />
    <input type="button" value="6" (click)="acumula(6)" />
    <input type="button" value="*"  (click)="oper('*')"/>
    <input type="button" value="%"  />
  </p>
  <p>
    <input type="button" value="1" (click)="acumula(1)" />
    <input type="button" value="2" (click)="acumula(2)" />
    <input type="button" value="3" (click)="acumula(3)" />
    <input type="button" value="-" (click)="oper('-')" />
    <input type="button" value="1/x"  />
  </p>
  <p>
    <input type="button" value="0" (click)="acumula(0)" />
    <input type="button" value="+/-"  />
    <input type="button" value=","  />
    <input type="button" value="+" (click)="oper('+')" />
    <input type="button" value="=" (click)="calcTotal()" />
  </p>
</div>
