<h1>Demo para {{nombre}}</h1>
<p>
  <input type="text" [(ngModel)]="nombre">
  <input type="button" value="saluda" (click)="saluda()">
  <input type="button" value="despide" (click)="despide()">
  <input type="button" value="di" (click)="di('algo')">
  <input type="button" value="cambia" (click)="cambia()">
  <input type="button" value="Notifica" (click)="Notificaciones.add('Demo Error')">
</p>
<p [textContent]="resultado" [class.errorMsg]="!visible">xxxx</p>
<p [hidden]="!visible">Ahora me ves</p>
<p *ngIf="visible">Ahora no me ves</p>
<p [ngClass]="conEstilo">Parrafo con estilo</p>
<p>
  Calcula: 2 + 2 = {{ 2 + 2 }} = {{calcula(2,2)}}
</p>
<ul>
  <li *ngFor="let item of listado; let i=index; let fondo=odd;" [style.background-color]="fondo ? 'LightBlue' : 'Lavender'">
    {{i + 1}} {{item.nombre}} ({{item.id}})
  </li>
</ul>
<p>
  <select [(ngModel)]="idProvincia" >
    <option value="">--Elige una opción--</option>
    <option *ngFor="let p of listado" [value]="p.id">{{p.nombre}}</option>
  </select>
  Seleccionado: {{idProvincia}}
  <input type="text" value="" #txtProvincia>
  <input type="button" value="Añadir" (click)="add(txtProvincia.value)">
</p>
<agio-font-sizer [(size)]="font"></agio-font-sizer>
<p [style.font-size.px]="font">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores eveniet eum nisi expedita ab dolorum labore similique provident officia ipsa, aliquam recusandae dicta id, praesentium quasi consequatur minus laborum perferendis?
</p>
