<form #miForm="ngForm">
  <dl>
    <dt>Código:</dt>
    <dd>
      <input type="number" name="id" id="id" [(ngModel)]="VM.Elemento.id" #id="ngModel" required>
      <!-- <span class="errorMsg" [hidden]="id.hasError('required') && miForm.pristine">Es obligatorio.</span> -->
    </dd>
    <dt>Titulo:</dt>
    <dd>
      <input type="text" name="titulo" id="titulo" [(ngModel)]="VM.Elemento.titulo" #titulo="ngModel" minlength="1" maxlength="30">
      <!-- <span class="errorMsg" [hidden]="!titulo.errors?.minlength && !titulo.errors?.maxlength">Debe de tener entre 1 y 30 caracteres.</span> -->
    </dd>
    <dt>Texto:</dt>
    <dd>
      <textarea name="texto" id="texto" [(ngModel)]="VM.Elemento.texto" #texto="ngModel" minlength="5" maxlength="255"></textarea>
      <!-- <span class="errorMsg" [hidden]="!texto.errors?.minlength && !texto.errors?.maxlength">Debe de tener entre 5 y 255 caracteres.</span> -->
    </dd>
    <dt>Autor:</dt>
    <dd>
      <input type="text" name="autor" id="autor" [(ngModel)]="VM.Elemento.autor" #texto="ngModel" minlength="2" maxlength="20">
      <!-- <span class="errorMsg" [hidden]="!autor.errors?.minlength && !autor.errors?.maxlength">Debe de tener entre 2 y 20 caracteres.</span> -->
    </dd>

    <dt>Fecha:</dt>
    <dd>
      <input type="date" name="fecha" id="fecha" [(ngModel)]="VM.Elemento.fecha" #texto="ngModel">
      <!-- <span class="errorMsg">Debe de ser una fecha válida.</span> -->
    </dd>

    <dt>Me gusta:</dt>
    <dd>
      <input type="number" name="megusta" id="megusta" [(ngModel)]="VM.Elemento.megusta" #megusta="ngModel" minlength="0" maxlength="1">
      <!-- <span class="errorMsg" [hidden]="!megusta.errors?.minlength && !megusta.errors?.maxlength">Debe de ser 1 o 0</span> -->
    </dd>

    <dt>Url de foto:</dt>
    <dd>
      <input type="text" name="fotoUrl" id="fotoUrl" [(ngModel)]="VM.Elemento.fotoUrl" #file="ngModel" >
      <!-- <span class="errorMsg" [hidden]="!fotoUrl.errors?.minlength && !fotoUrl.errors?.maxlength">Debe de tener entre 5 y 255 caracteres.</span> -->
    </dd>

  </dl>
  <p>
    <input type="button" value="Enviar" (click)="VM.send()" [disabled]="miForm.invalid">
    <input type="button" value="Volver" (click)="VM.cancel()">
  </p>
</form>
