/* You can add global styles to this file, and also import other style files */
.errorMsg{
  color: red;
}
form .ng-invalid{
  border-color:red;
}
form .ng-valid{
  border-color: rgb(0, 158, 0);
}

form .ng-pristine{
  border-color: blue;
}
